*, *::before, *::after
	{
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
	}


body
	{
		font: 100%/120% "source-sans-pro","Helvetica Neue",sans-serif;
		margin:0; padding:0;
}

	
section
	{

	}

	
div
	{

	}

	
nav
	{

	}

	
img
	{

	}

	
ul
	{
		list-style-type:none;
	}

	
li
	{
		
	}

	
a
	{

	}

	
main
	{
		padding-top:54px;
}

	
article
	{
		margin:0;padding:0;
	}

	
h1, h2, h3, h4, h5, h6, ul, ol, li
	{
		margin:0;
		padding:0;
}

	

	
span
	{

	}

	
p
	{

	}

	
video
	{

	}

	
ol
	{

	}

	
footer
	{

	}

	
form
	{

	}

	
input
	{

	}

	