$typography--font-size--small: .975em !default;
$typography--font-size--smaller: .875em !default;


@import "mixins/layout";

.callout 
	{
		position: relative; min-height:300px; float:left;
		font-size: $typography--font-size--smaller;
		@extend %clearfix;

	.callout-title, .callout-action, .callout-tagline
		{
			float:left; clear:left; 
	}

	.callout-title
		{
			font-size: $typography--font-size--small; margin-top:1.3em;

	}

	.callout-tagline 
		{
			font-size: $typography--font-size--smaller;
	}

	.callout-action
		{
		 @extend %clearfix;
		 position: absolute; top: 9em; left: 1em;
	}

	.callout-image 
		{
			position: absolute; right: 20px; top: -9px;
	}

	&.callout-first
		{
			width:47%;

		.callout-action
			{
				left:0em;
		}

		.callout-tagline 
			{
				width:40%;

		}
	}
	&.callout-middle
		{
			width:28%; border-right:1px solid; border-left:1px solid;
			padding-left: 1em; padding-right:1em;
	}
	&.callout-last 
		{
			width:25%; float:right; padding-left:1em;
	}

}








