.icn 
	{
		width:16px; height:16px; display:block;
		background:url("../images/sprite-digg-icons.png") no-repeat;
		float:left; 

	&.icn-digg
		{
			background-position:0px -451px;
	}
	&.icn-save
		{
			background-position:0px -541px;
	}
	&.icn-fb
		{
			background-image:url("../images/sprite-fb-sm.png");
			background-position:0px 2px;
	}
	&.icn-t
		{
			background-image:url("../images/sprite-t-sm.png");
			background-position:0px 2px;
	}
}




.icn.icn-lg 
	{
		width: 33px; height: 33px; float: left;
		display: block;

	&.icn-t
		{
			background-image:url("../images/logo-twitter.png");
	}
	&.icn-tblr
		{
			background-image:url("../images/logo-tblr.png");
	}
	&.icn-fb
		{
			background-image:url("../images/logo-fb.png");

	}
	&.icn-g
		{
			background-image:url("../images/logo-gplus.png");

	}
	&.icn-rss
		{
			background-image:url("../images/logo-rss.png");

	}
}
