$typography--font-size--smaller: .875em !default;
$typography--font-size--tiny: .7em !default;

.link-primary
	{
	
		&.is-active
		{

		}
	} 
.link-secondary
	{

		&.link-sign-in
		{

		}
	}

.link-title 
	{

		&.l-viewMore
		{

		}
	}

.link-plaintext
	{
		text-decoration: none; padding-left: 1em;
}

.link-plain
	{
		font-size:$typography--font-size--smaller; text-decoration:none;
}

.link-smaller
	{
		font-size: $typography--font-size--tiny;	
}