$typography--font-size--smallest: Arial sans-serif !default;

@import "mixins/layout";

.proxime
	{
		@extend %clearfix;
		width:100%; font-size: $typography--font-size--smallest;
		-webkit-font-smoothing: antialiased; white-space: nowrap;

	li
		{
			float:left;

	}
	.proxime-shareStats
		{
			margin-top:-1px;
	}
	.proxime-source
		{

	}
	.proxime-type
		{

	}
	.proxime-tag
		{

	}


	&.proxime-onDark
		{
			
	}
}
