@import "mixins/layout";

.story 
	{
		width:100%; float:left; padding: 3% 3% 6%; margin:0 0 7px;
		@extend %clearfix;

	.story-image, .story-video
		{
		width:100%;
	}

	.summary
		{
			margin-top: 1em;
	}

	&.story-fullWidth
		{
			border-bottom:1px solid; padding: 17px 0; 

		.story-image, .story-video
			{
				float:left; width: 65.64%; margin-right:32px;
		}

		.summary
			{
				width: 31%; float:right; margin-top:0;
		}
		
	}

	&.story-small
		{
		.summary 
			{
				padding-top:1em;

		}
	}

	&.story-list
		{
			position: relative; border-bottom: 1px solid;
		
		> .story-list-counter
			{
				position: absolute;
				left:-1em; top: 1.5em;

			&::before
				{
					content: counter(outerOL);
					display:block;
			}
				
				
		}

		.story-image, .story-video
			{
			float:left;	width:30.25%;
		}

		.summary{
			float:right; width: 65%; margin-top: 0;
		}
	}

	&.story-summary
		{
		
		.summary
			{
				margin-top: 0;
		}
	}

}


//Enable grid to work with padding:

li:last-child .story.story-list
	{
		border-bottom:0px;

}

@mixin story_centerGridPadding($n)
	{

	.l-grid-rowStart.l-grid-cell-#{$n}
		{
		& .story
			{
				padding-right:6%; padding-left:0;
		}
	}

	.l-grid-rowEnd.l-grid-cell-#{$n}
		{
		& .story
			{				
				padding-left:6%; padding-right:0;
		}
	}
}

@include story_centerGridPadding(3);
@include story_centerGridPadding(5);
