@import "mixins/layout";

.story 
	{
		width:100%; float:left; padding: 3% 3% 6%; margin:0 0 7px;
		@extend %clearfix;

	.story-image, .story-video
		{
		width:100%;
	}

	.summary
		{
						
	}

	&.story-fullWidth
		{
			border-bottom:1px solid; padding: 17px 0; 

		.story-image, .story-video
			{
				float:left; width: 65.64%; margin-right:32px;
		}

		.summary
			{
				width: 31%;
				float:right;
		}
		
	}

	&.story-small
		{
		
	}

	&.story-list
		{

		.story-image, .story-video
			{
			float:left;	width:30.25%;
		}
	}

	&.story-summary
		{
		
	}

}


//Enable grid to work with padding:



@mixin story_centerGridPadding($n)
	{

	.l-grid-rowStart.l-grid-cell-#{$n}
		{
		& .story
			{
				padding-left:0;
				padding-right:6%;
		}
	}

	.l-grid-rowEnd.l-grid-cell-#{$n}
		{
		& .story
			{				
				padding-left:6%;
				padding-right:0;
		}
	}
}

@include story_centerGridPadding(3);
@include story_centerGridPadding(5);
