$typography--font-family: Arial, sans-serif !default;
$typography--font-family--secondary: Arial, sans-serif !default;

.summary
	{
	.summary-snippet
		{
			font: 700 .688em/1.091em #{$typography--font-family--secondary};
			letter-spacing: 1px;
			text-transform: uppercase;
			margin: 0 0 .364em;
	}
		
	.summary-headline
		{
			font: 700 1.375em/1.136em #{$typography--font-family--secondary};			
			margin-bottom: 4px; 
	}
		
	.summary-exerpt
		{
			font: .875em/1.286em #{$typography--font-family};
			margin: .250em 0 .357em;
	}
		

	&.summary-large
		{

		.summary-headline
			{
				font-size: 2.313em; line-height: 1.027em;
		}

		.summary-exerpt
			{
				font-size: 1em; line-height: 1.250em; margin-top: 2px; 

		}

	}
	&.summary-small
		{
			font-size: .938em;

		

		.summary-headline
			{
				font-size: .938em;

		}
	}

	&.summary-onDark
		{

	}
}