.summary
	{
	.summary-snippet
		{
			font: 700 .688em/1.091em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
			color:#555; letter-spacing: 1px;
			text-transform: uppercase;
			margin: 0 0 .364em;
	}
		
	.summary-headline
		{
			font: 700 1.375em/1.136em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;			
			color:#191919;
			margin-bottom: 4px; 
	}
		
	.summary-exerpt
		{
			font: .875em/1.286em "source-sans-pro","Helvetica Neue",sans-serif;
			color: #444;
			margin: .250em 0 .357em;
	}
		

	&.summary-large
		{

		.summary-headline
			{
				font-size: 2.313em; line-height: 1.027em;
		}

		.summary-exerpt
			{
				font-size: 1em; line-height: 1.250em; margin-top: 2px; 

		}

	}
	&.summary-small
		{

	}
}