.is-hoverable
{

}

.digg-mostDuggVideos
	{
		background:url("../images/bg-video.jpeg");
		background-size:cover;

}

.digg-mostDugg-list
{

}

.digg-upcoming-list
{
	
}




//////// topBar///////
.l-topBar
	{
		-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
		box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
		border-bottom-width: 0;	background-color:#fff; z-index:10000;
}

/////// story /////////

.story
	{

	&.story-fullWidth
		{
			border-bottom-color: #ebebeb;

	}
}


//////// section-title /////////
.section-title
	{
	
	&.section-title-onDark
		{
			color:#fff;
	}
} 


/////// shareStats ////////




.shareStats-digg
	{
	&::before
		{
			background-position: 2px -189px;
	}			
}
.shareStats-fb
	{
	&::before
		{
			background-position: 0px -263px;
	}			
}
.shareStats-t
	{
	&::before
		{
			background-position: 0px -227px;
	}			
}


.shareStats
	{
		color: #444;


	.speechBubble
		{
	}
		
		
	.shareStats-front
		{

	}
	
	.shareStats-stat
		{

		&::before
			{
				background: url("../images/sprite-digg-icons.png"); 
		}
	}

	.shareStats-digg
		{
		

	}
	.shareStats-fb
		{

	}
	.shareStats-t
		{

	}
	.shareStats-digit
		{

	}
	.shareStats-name
		{

	}

	&.shareStats-onDark
		{

		.shareStats-front
			{
				color:#fff;				
		}
	}
}



/////// sharing ////////////

.sharing
	{
		


}


/////// summary ///////

.summary
	{
	

	
}

.summary
	{
	.summary-snippet
		{
			color:#555;
	}
		
	.summary-headline
		{
			color:#191919;
	}
		
	.summary-exerpt
		{
			color: #444;
	}
		

	&.summary-large
		{

		.summary-headline
			{

		}

		.summary-exerpt
			{

		}

	}
	&.summary-small
		{

	}

	&.summary-onDark
		{
			color:#fff;

		.summary-snippet
			{
				color:#fff;
		}
		
		
		& .summary-headline
			{
				color:#fff;
		}
		
	}
}



/////// btn //////////////

.btn
	{

	&.btn-hollow
		{
			color: #0093cc; border-color: rgba(220,235,245,0);

		&:hover, &.is-hover
			{
				border-color: #dcebf5;
		}
	}

}



////// speechBubble ////////

.speechBubble
	{
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.15);
		box-shadow: 0 5px 10px rgba(0,0,0,0.15); 
		border-color: rgba(0,0,0,0.2);
		background-color:rgba(250,250,250,0.97);
}

/////// arrow /////////////
.arrow
	{
	&.arrow-down
		{
		border-top-color: rgba(0,0,0,0.25);
		&::after
			{
			border-top-color: rgba(250,250,250,0.97);
		}
	}
	
}



///////// nav ///////////

.nav-item
	{
	
	a
		{
			color: #aaa;
			text-decoration: none;

			-webkit-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
			-moz-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
			-o-transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
			transition: color 120ms cubic-bezier(0.455,0.03,0.515,0.955);
	}
}

.nav-secondary
	{
		
	
	> .nav-item
		{
		a 
			{
			 color: #7a7a7a;
		}
	}
	
}


///////// icn /////////////







////////// proxime //////////


.proxime
	{
		color: #606060;

	li
		{

	}
	.proxime-shareStats
		{

	}
	.proxime-source
		{

	}
	.proxime-type
		{

	}
	.proxime-tag
		{

	}


	&.proxime-onDark
		{
			color: #fff;
	}
}
