/*

 Includes styles for differing types of presntation elements. 
 Rounded borders, CSS arrows, etc are found here.



 */
.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0); }
  .arrow::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0); }
