.linkList > li {
  margin-left: 6px; }
  .linkList > li::before {
    content: "\00b7";
    display: inline-block;
    padding-right: 5px; }
  .linkList > li:first-child {
    margin-left: 0; }
    .linkList > li:first-child::before {
      content: "";
      display: none; }
