.sharing {
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.58, 1);
  opacity: 0; }

.story:hover .sharing, .summary:hover .sharing {
  opacity: 1; }
